{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}My Info{% endblock %}

{% block content %}
<section class="container my-4">
    <h2 class="text-center">My Info</h2>
    
    <form method="post" class="contact-form margin30">
        <p>Here you can update your account Info, except your username.</p>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn greenbutton mt-2">Update Info</button>
    </form>
    <a href="{% url 'users:change-password' %}" class="btn btn-outline-primary mt-3">
        Change Password
    </a>
</section>
{% endblock %}
