{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}My Info{% endblock %}

{% block content %}
<div class="short-layout-body">
<section class="container short-layout-wrapper">
    <h2 class="normal_title">My Info</h2>
    
    <form method="post" class="contact-form margin30">
        <p>Here you can update your account Info, except your username.</p>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn greenbutton mt-2">Update Info</button>
    </form>
    <div class="reg">
        <a href="{% url 'users:change-password' %}" class="btn btn-outline-danger mt-3">
            Change Password
        </a>
    </div>
</section>
</div>
{% endblock %}
