{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}

{% block content %}

<section class="short-layout-body">
    <div class="container my-4 short-layout-wrapper">
    <h2 class="text-center">Change Your Password</h2>
    <form class="contact-form margin30" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-2">Update Password</button>
    </form>
</div>
</section>
{% endblock %}