{% extends "layout.html" %}
{% block title %}My Activity{% endblock %}

{% block content %}
<div class="margin30 short-layout-body">
    <section class="container short-layout-wrapper">
        <h2 class="normal_title">Recently Viewed Trips</h2>
    
        {% if recent_views %}
            <table class="table table-hover table-striped table-borderless roundtable">
                <thead >
                    <tr>
                        <th>Trip</th>
                        <th>Viewed At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for view in recent_views %}
                        <tr>
                            <td><a href="{% url 'trips:page' slug=view.trip.slug %}">{{ view.trip.title }}</a></td>
                            <td><small>{{ view.viewed_at|date:"Y-m-d H:i" }}</small></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="d-flex justify-content-center">
            <p>You haven't viewed any trips yet.</p>
        </div>
        {% endif %}
    </section>
    </div>
    
{% endblock %}