{% extends "layout.html" %}
{% load static %}
{% block title %}My Payments{% endblock %}

{% block content %}
<div class="short-layout-body">
<section class="container short-layout-wrapper">
    <h2 class="normal_title">My Payments</h2>
    {% if payments %}
        {% for payment in payments %}
            <div class="card mb-4 rounded-4 shadow-sm">
                <div class="card-header">
                    <p class="mt-2"><strong>Payment ID #{{ payment.id }}</strong> — {{ payment.payment_date|date:"Y-m-d H:i" }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Trips Included:</h5>
                    <ul class="list-group list-group-flush">
                        {% for booking in payment.order.bookings.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ booking.trip.title }}
                                <span>{{ booking.trip.price }}$</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <h5 class="text-end">Total Paid: <strong>{{ payment.amount }}$</strong></h5>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="d-flex justify-content-center">
        <p>You haven’t made any payments yet.</p>
    </div>
    {% endif %}
</section>
</div>
{% endblock %}
