{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <section>
        <h2 class="text-center normal_title">Register New User</h2>
        <form class="margin30 contact-form" action="/users/register/" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="form-submit greenbutton btn">Register</button>
        </form>
        <div class="contact-form reg">
            <p>
                Already have an account?
            </p>
            <!-- Login Button -->
            <a href="{% url 'users:login' %}" class="btn btn-outline-success" aria-label="Login">Login</a>
        </div>
    </section>
{% endblock %}