{% extends 'layout.html' %}
{% load static %}
{% block title %}My Reviews{% endblock %}

{% block content %}
<div class="short-layout-body">
<div class="container short-layout-wrapper">
    <h2 class="normal_title">My Reviews</h2>
    {% if reviews %}
        <div class="list-group mx-5">
            {% for review in reviews %}
                <div class="list-group-item mb-4 shadow-sm rounded-4 border border-secondary-subtle bg-light">
                    <h4 class="mb-1">{{ review.trip.title }}</h4>
                    {% if review.rating <= 2 %}
                        <p class="mb-3 text-danger">Rating: {{ review.rating }} / 5</p>
                    {% elif review.rating == 3 %}
                        <p class="mb-3 text-warning">Rating: {{ review.rating }} / 5</p>
                    {% else %}
                        <p class="mb-3 text-success">Rating: {{ review.rating }} / 5</p>
                    {% endif %}
                    <p class="mb-3 wrap softext">{{ review.comment }}</p>
                    <small>Posted on {{ review.created_at|date:"F j, Y, H:i" }}</small>
                    <form action="{% url 'users:delete-review' review.id %}" method="post" class="mt-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger my-2">Delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <p>You haven’t written any reviews yet.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
