{% extends "layout.html" %}
{% block title %}My Trips{% endblock %}

{% block content %}
<section class="container my-4">
    <h2 class="normal_title">Created Trips</h2>

    {% if trips %}
        <div class="row">
            {% for trip in trips %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 rounded-4">
                        <img src="{{ trip.image.url }}" class="card-img-top rounded-top-4" alt="{{ trip.title }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ trip.title }}</h4>
                            <p class="card-text">{{ trip.start_date }} - {{ trip.end_date }}</p>
                            <a href="{% url 'trips:edit-trip' slug=trip.slug %}" class="btn btn-outline-success me-2">Edit</a>

                            <form action="{% url 'trips:delete-trip' slug=trip.slug %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this trip?');">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <p>You haven’t created any trips yet.</p>
    </div>
    {% endif %}
</section>
{% endblock %}
