{% extends "layout.html" %}
{% load static %}

{% block title %}
    Trips | North Hiking
{% endblock %}

{% block content %}
<section class="">
    <div class="container">
        <div class="normal_title">
            <h2>Trips List</h2>
        </div>
        <div class="row justify-content-center">
            <p class="justify">
                Below, you will find a list of our upcoming trips, each carefully organized by our experienced members to ensure a memorable experience. They have been planned with attention to detail, making sure all activities are created for the best possible adventure. We’ve included some indicative images from past years, showcasing similar trips we’ve done before, so you can get a glimpse of what to expect. We hope this gives you a sense of the excitement and adventure that awaits!
            </p>
        </div>

        <hr>

        <form method="get" class="contact-form row justify-content-center mb-4">
            <div class="col-md-4 col-lg-2 mx-2 my-3">
                <input type="text" class="form-control" name="search" placeholder="Search keywords..." value="{{ request.GET.search }}">
            </div>
            <div class="col-md-4 col-lg-2 mx-2 my-3">
                <select name="sort_date" class="form-select" onchange="this.form.submit()">
                    <option value="">Sort by Date</option>
                    <option value="asc" {% if sort_start_date == "asc" %}selected{% endif %}>Ascending ↑</option>
                    <option value="desc" {% if sort_start_date == "desc" %}selected{% endif %}>Descending ↓</option>
                </select>
            </div>

            <div class="col-md-4 col-lg-2 mx-2 my-3">
                <select name="sort_hiking_time" class="form-select" onchange="this.form.submit()">
                    <option value="">Sort by Hike Time</option>
                    <option value="asc" {% if current_hiking_sort == "asc" %}selected{% endif %}>Shortest → Longest</option>
                    <option value="desc" {% if current_hiking_sort == "desc" %}selected{% endif %}>Longest → Shortest</option>
                </select>
            </div>

            <div class="col-md-4 col-lg-2 mx-2 my-3">
                <select name="difficulty" class="form-select" onchange="this.form.submit()">
                    <option value="">Filter Levels</option>
                    <option value="Easy" {% if difficulty_filter == "Easy" %}selected{% endif %}>Easy</option>
                    <option value="Moderate" {% if difficulty_filter == "Moderate" %}selected{% endif %}>Moderate</option>
                    <option value="Hard" {% if difficulty_filter == "Hard" %}selected{% endif %}>Hard</option>
                    <option value="Extreme" {% if difficulty_filter == "Extreme" %}selected{% endif %}>Extreme</option>
                </select>
            </div>

            <div class="col-md-4 col-lg-2 mx-2 my-3">
                <select name="terrain" class="form-select" onchange="this.form.submit()">
                    <option value="">Filter Terrains</option>
                    <option value="Forest" {% if terrain_filter == "Forest" %}selected{% endif %}>Forest</option>
                    <option value="Mountain" {% if terrain_filter == "Mountain" %}selected{% endif %}>Mountain</option>
                    <option value="Beach" {% if terrain_filter == "Beach" %}selected{% endif %}>Beach</option>
                    <option value="Urban" {% if terrain_filter == "Urban" %}selected{% endif %}>Urban</option>
                </select>
            </div>

            <div class="col-md-4 col-lg-4 mx-2 my-3">
                <div class="d-flex justify-content-between mb-1">
                    <span>{{ min_price }}$</span>
                    <span id="priceValue">{{ current_price }}$</span>
                    <span>{{ max_price }}$</span>
                </div>
                <input
                    type="range"
                    class="form-range"
                    min="{{ min_price }}"
                    max="{{ max_price }}"
                    value="{{ current_price }}"
                    id="priceRange"
                    name="price"
                    step="1"
                    oninput="document.getElementById('priceValue').innerText = this.value + '$'"
                    onchange="this.form.submit()"
                >
            </div>

            <div class="col-md-4 col-lg-4 mx-2 my-3">
                <div class="d-flex justify-content-between mb-1">
                    <span>{{ min_distance }} km</span>
                    <span id="distanceValue">{{ current_distance }} km</span>
                    <span>{{ max_distance }} km</span>
                </div>
                <input
                    type="range"
                    class="form-range"
                    min="{{ min_distance }}"
                    max="{{ max_distance }}"
                    value="{{ current_distance }}"
                    id="distanceRange"
                    name="distance"
                    step="1"
                    oninput="document.getElementById('distanceValue').innerText = this.value + ' km'"
                    onchange="this.form.submit()"
                >
            </div>

            <div class="col-md-4 col-lg-2 mx-2 my-4 d-flex justify-content-center">
                <a href="{% url 'trips:list' %}" class="btn btn-outline-danger">Clear Filters</a>
            </div>
        </form>


        {% if trips %}
            <div class="row">
                {% for trip in trips %}
                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="card h-100 rounded-4">
                            <a href="{% url 'trips:page' slug=trip.slug %}">
                                <img src="{{ trip.image.url }}" class="img-fluid rounded-top-4" alt="{{ trip.location }}"/>
                            </a>
                            <div class="card-body">
                                <h2 class="card-title">{{ trip.title }}</h2>
                                <hr class="seperator-dark">
                                <div class="justify">
                                    <div class="d-flex justify-content-between">
                                        <p class="trip-detail mb-2"><b>Date:</b> {{ trip.start_date }}</p>
                                        <p class="trip-detail mb-2"><b>Duration:</b> {{ trip.duration }} days</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="trip-detail mb-2"><b>Walk Time:</b> {{ trip.hiking_duration }} hours</p>
                                        <p class="trip-detail mb-2"><b>Terrain:</b> {{ trip.terrain }}</p>

                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="trip-detail"><b>Price:</b> {{ trip.price }}$</p>
                                        <p class="trip-detail mb-2
                                            {% if trip.difficulty == 'Easy' %}text-success
                                            {% elif trip.difficulty == 'Moderate' %}text-info
                                            {% elif trip.difficulty == 'Hard' %}text-warning
                                            {% elif trip.difficulty == 'Extreme' %}text-danger
                                            {% endif %}">
                                            <b>Difficulty:</b> {{ trip.difficulty }}
                                        </p>
                                    </div>
                                    <a href="{% url 'trips:page' slug=trip.slug %}" class="greenbutton btn">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="d-flex justify-content-center">
            <p>We could not find any trips that match your filtering criteria</p>
        </div>
        {% endif %}

    </div>
</section>
{% endblock %}
